<div class='row table-responsive '>
  <div class='col-md-4'>
    <h1>
  Witaj w bibliotece
</h1>
    <table>
      <thead>
        <tr>
          <th>Tytuł książki</th>
          <th>Autor</th>
        </tr>
      </thead>
      <tr *ngFor="let book of books; let i = index">
        <td>{{book.name}}</td>
        <td>{{book.author}}</td>
        <td><button (click)='gotoDetail(book)'  class='btn btn-primary'>edycja</button></td>
        <td><button (click)='remove(book)' class='btn btn-danger'>usuń</button></td>
      </tr>
    </table>
  </div>
</div>
