<div class='row col-1' *ngIf="book">
  <div class='detail'>
    <h2>{{book.name}}</h2>
    <h2>{{book.author}}</h2>
    <div class= ''>
      <label>Nazwa: </label>
      <input [(ngModel)]="book.name" placeholder="name" class="form-control" /> <br>
      <label>Autor: </label>
      <input [(ngModel)]="book.author" placeholder="author" class="form-control" />
    </div>

    <button (click)='goBack()' class='btn btn-primary'>Powrót</button>
  </div>
</div>
