table{
  background-color: #a1bccf;
  border-radius: 10px;
  font-family: Lato, sans-serif;
}
th, td {
  padding: 5px;
}
h1{
  font-weight: normal;
  letter-spacing: -1px;
  color: #34495E;
}

.row {
  display: flex;
  justify-content: center;
  margin: 0;
}


@media (min-width: 400px) {
  th, td{
      display: table-cell;
      padding: 10px 10px;

      td:first-child {
        padding-left: 0;
      }

      td:last-child {
        padding-right: 0;
      }
    }

  }
