<h3>
  Top Heroes
</h3>
<div class = "grid grid-pad">
  <a *ngFor="let book of books"  [routerLink]="['/detail', book.id]"  class="col-1-4">
    <div class="module hero">
      <h4>{{book.name}}</h4>
    </div>
  </a>
</div>
